In [1]:
#Lists, Tuples, and Sets

In [2]:
# LISTS
courses = ['History', 'Maths', 'Physics', 'Hindi', 'CSE']
print(courses)
print(len(courses))
print(courses[0])
print(courses[0:2]) # does not include last element
print(courses[-1])
print(courses[2:])

['History', 'Maths', 'Physics', 'Hindi', 'CSE']
5
History
['History', 'Maths']
CSE
['Physics', 'Hindi', 'CSE']

In [3]:
courses.append('Art')
courses.insert(3,'Polity')
course2 = ['English', 'Economics']
courses.extend(course2) # if we used .append or .insert then it would have added english and economics in a nested list format
print(courses)

['History', 'Maths', 'Physics', 'Polity', 'Hindi', 'CSE', 'Art', 'English', 'Economics']

In [1]:
courses3 = ['History', 'Maths', 'Physics', 'Hindi', 'CSE']
courses3.remove('Maths')
print(courses3)
popped = courses3.pop()
print(popped)
print(courses3)

['History', 'Physics', 'Hindi', 'CSE']
CSE
['History', 'Physics', 'Hindi']

In [5]:
# Sorting lists
courses = ['History', 'Maths', 'Physics', 'Hindi', 'CSE']
numlist = [1,4,67,3,90]
courses.sort()
numlist.sort()
print(courses)
print(numlist)
courses.sort(reverse=True)
print(courses)

['CSE', 'Hindi', 'History', 'Maths', 'Physics']
[1, 3, 4, 67, 90]
['Physics', 'Maths', 'History', 'Hindi', 'CSE']

In [10]:
courses = ['History', 'Maths', 'Physics', 'Hindi', 'CSE']
numlist = [1,4,67,3,90]
sortcourse = sorted(courses, reverse=True)
print(courses)
print(sortcourse)
print(max(numlist))
print(min(numlist))
print(sum(numlist))

['History', 'Maths', 'Physics', 'Hindi', 'CSE']
['Physics', 'Maths', 'History', 'Hindi', 'CSE']
90
1
165

In [20]:
courses = ['History', 'Maths', 'Physics', 'Hindi', 'CSE']
print(courses.index('Maths'))
print('CSE'  in courses)
for course in courses:
    print(course)
for index,course in enumerate(courses, start=1):
    print(index, course)

csr_str = ', '.join(courses) # converts a list to a string
print(csr_str)
nlist = csr_str.split(', ') # slits and converts a string to a list
print(nlist)

1
True
History
Maths
Physics
Hindi
CSE
1 History
2 Maths
3 Physics
4 Hindi
5 CSE
History, Maths, Physics, Hindi, CSE
['History', 'Maths', 'Physics', 'Hindi', 'CSE']

In [22]:
#tuple example
list1 = ['History', 'Maths', 'Physics', 'Hindi', 'CSE']
list2 = list1

list1[0]='Art' #replacing a value (lists are mutable)
print(list1)
print(list2)

['Art', 'Maths', 'Physics', 'Hindi', 'CSE']
['Art', 'Maths', 'Physics', 'Hindi', 'CSE']

In [24]:
tuple1 = ('History', 'Maths', 'Physics', 'Hindi', 'CSE')
#tuple1[0]='Art' # gives error as tuple is immuatble

In [29]:
# Sets (they're unique but unordered)

Set1 = {'History', 'Maths', 'Physics', 'Hindi', 'CSE'}
Set2 = {'Art', 'Polity', 'Chemistry', 'Physics', 'CSE'}
print(Set1)
print(Set1.union(Set2)) # all elements
print(Set1.difference(Set2)) # elements in set1 that are not in set2
print(Set1.intersection(Set2)) # common elements
print(type(Set1))

{'Physics', 'Hindi', 'Maths', 'History', 'CSE'}
{'Hindi', 'History', 'Chemistry', 'Polity', 'Physics', 'Maths', 'CSE', 'Art'}
{'Maths', 'History', 'Hindi'}
{'CSE', 'Physics'}
<class 'set'>

In [27]:
# Empty lists, tuples and Sets

# Empty Lists
empty_list = []
empty_list = list()

# Empty Tuples
empty_tuple = ()
empty_tuple = tuple()

# Empty Sets
empty_set = {} # This isn't right! It's a dict
empty_set = set()

In [3]:
# Dictionary

student = {'name':'Logan', 'age':23 , 'courses':['Physics','Maths']} # integer can also be keys
print(student)
print(len(student))
print(student.keys())
print(student.values())
print(student.items())
print(student['name'])
# print(student['gender']) --> gives an error
print(student.get('gender','Not found')) # get gives none or the entered error statement
student['phone']=7776666
print(student)
student['name']='James'
print(student)
# del student(age) --> to delete key age and its value
age = student.pop('age')
print(age)
print(type(student))

{'name': 'Logan', 'age': 23, 'courses': ['Physics', 'Maths']}
3
dict_keys(['name', 'age', 'courses'])
dict_values(['Logan', 23, ['Physics', 'Maths']])
dict_items([('name', 'Logan'), ('age', 23), ('courses', ['Physics', 'Maths'])])
Logan
Not found
{'name': 'Logan', 'age': 23, 'courses': ['Physics', 'Maths'], 'phone': 7776666}
{'name': 'James', 'age': 23, 'courses': ['Physics', 'Maths'], 'phone': 7776666}
23
<class 'dict'>

In [39]:
for key in student:
    print(key)
    
for key in student.items():
    print(key)
    
for key, value in student.items():
    print(key,value)

name
courses
phone
('name', 'James')
('courses', ['Physics', 'Maths'])
('phone', 7776666)
name James
courses ['Physics', 'Maths']
phone 7776666

In [1]:
# Sorting advanced
list1 = ['History', 'Maths', 'Physics', 'Hindi', 'CSE']
list1.sort() # or new_list = sorted(list1)
print(list1)
# tuples and dictionary dont have .sort() function
tup = ('History', 'Maths', 'Physics','Chemistry', 'English')
tup1 = sorted(tup)
print(tup1)
dic = {'name': 'Logan', 'age':45 , 'Course':'CSE'}
new_dic=sorted(dic)
print(new_dic)

['CSE', 'Hindi', 'History', 'Maths', 'Physics']
['Chemistry', 'English', 'History', 'Maths', 'Physics']
['Course', 'age', 'name']

In [7]:
li = [1,2,3,-4,-5,-6] # key parameter is useful for sorting when having a class and functions with multiple parameters
sort_li = sorted(li, key = abs)
print(sort_li)

[1, 2, 3, -4, -5, -6]

In [2]:
list1["History"]="Hello"

TypeError: list indices must be integers or slices, not str